@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Bold.ttf');
    font-weight: 700;
}

:root {
    --font-family: "Montserrat";
}

nav img {
    height: 2em;
}